@import '../../app.less';

.orderTab .van-tab {
  color: @low-text-color;
}
.orderTab .van-tab--active {
  color: @text-color;
  font-weight: 500;
}

.orderTab .van-tabs__line {
  background: #F7E6B2;
}